---
id: '{{ winsw_service_id | mandatory }}'
name: '{{ winsw_service_name | mandatory }}'
description: '{{ winsw_service_description | mandatory }}'
stoptimeout: {{ winsw_service_stop_timeout | mandatory }}
priority: '{{ winsw_service_priority | mandatory }}'
onFailure:
  - action: {{ winsw_service_on_failure }}
{% if winsw_service_log_mode != 'append' %}
log:
  mode: '{{ winsw_service_log_mode | mandatory }}'
  logpath: '{{ winsw_service_logs_dir | mandatory }}'
  sizeThreshold: {{ winsw_service_log_size | mandatory }}
  keepFiles: {{ winsw_service_log_keep | mandatory }}
{% if winsw_service_log_mode == 'roll-by-size-time' %}
  pattern: '{{ winsw_service_log_pattern | mandatory }}'
  autoRollAtTime: '{{ winsw_service_log_roll_at | mandatory }}'
{% endif %}
{% if winsw_service_log_stdout_disabled %}
  outfiledisabled: true
{% endif %}
{% if winsw_service_log_stderr_disabled %}
  errFileDisabled: true
{% endif %}
{% endif %}
{% if winsw_service_logon_enabled %}
serviceAccount:
  domain: '{{ winsw_service_logon_domain | mandatory }}'
  user: '{{ winsw_service_user | mandatory }}'
  password: '{{ winsw_service_logon_pass | mandatory }}'
  # WARNING: Does not work, requires manual intervention.
  allowservicelogon: true
env:
{% endif %}
{% for key, val in winsw_service_environment.items() %}
  - { name: '{{ key }}', value: '{{ val }}' }
{% endfor %}
workingdirectory: '{{ winsw_service_work_dir | mandatory }}'
executable: '{{ winsw_service_exe_path | mandatory }}'
arguments: >
  {{ winsw_service_arguments | indent( width=2) }}
