<!--
  Windows service definition for Jenkins agent.
  This service is powered by the WinSW project: https://github.com/winsw/winsw/
  To uninstall, run "jenkins.exe stop" to stop the service, then "jenkins.exe uninstall" to uninstall the service.
-->
<service>
  <id>{{ winsw_service_id }}</id>
  <name>{{ winsw_service_name }}</name>
  <description>{{ windsw_service_description }}</description>
  <!-- Use of git-bash is necessary to provide all the env variables. -->
  <executable>{{ winsw_service_executable }}</executable>
  <arguments>{{ winsw_service_arguments }}</arguments>
  <workingdirectory>{{ winsw_service_work_dir }}</workingdirectory>
  <logmode>rotate</logmode>
  <onfailure action="restart" />

  <serviceaccount>
    <user>{{ winsw_service_user_name }}</user>
    <password>{{ winsw_service_user_pass }}</password>
    <allowservicelogon>{{ winsw_service_allow_logon | lower }}</allowservicelogon>
  </serviceaccount>

  <extensions>
    <extension enabled="true"
               className="winsw.Plugins.RunawayProcessKiller.RunawayProcessKillerExtension"
               id="killOnStartup">
      <pidfile>{{ winsw_service_pid_path }}</pidfile>
      <stopTimeout>5000</stopTimeout>
      <stopParentFirst>false</stopParentFirst>
    </extension>
  </extensions>
</service>
